<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.careLink.Member.mapper.MemberMapper">

    <!--회원가입 -->
    <insert id="save">
        <!-- 회원가입 후 생성되는 회원 고유번호 반환 -->
        <selectKey keyProperty="memberId" order="BEFORE" resultType="int">
            select member_seq.nextval from dual
        </selectKey>
        <!-- 회원정보 db 전송 -->
        INSERT INTO MEMBER(MEMBER_ID, ID, PASSWORD, MEMBER_NAME,  MEMBER_EMAIL, MEMBER_TEL, MEMBER_ADDRESS, ROLE, WITHDRAWAL, AGREE, AGE, GENDER)
        VALUES (#{memberId}, #{id}, #{password}, #{memberName}, #{memberEmail}, #{memberTel}, #{memberAddress}, #{role}, #{withdrawal}, #{agree}, #{age}, #{gender})
    </insert>

    <select id="findById" parameterType="String" resultType="MemberDto">
        SELECT * FROM MEMBER WHERE ID = #{id}
    </select>

</mapper>